Charity Scout Mapper.json
{
  "name": "Charity Scout Mapper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -112
      ],
      "id": "fe2f98e1-0a8f-4dfc-9449-400bfe7c9687",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.charitycommission.gov.uk/register/api/searchCharityRegDate/01-10-2025/01-11-2025",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "Ocp-Apim-Subscription-Key",
              "value": "8268f75276c149dba58c3bf164937286"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -112
      ],
      "id": "408d10a4-6c44-45e0-a36f-b1d0ddcc66da",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fgkOfBK3jvzcxk2X",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=ANALYZE THIS LIST OF CHARITIES AND FILTER TO KEEP ONLY MUSLIM/ISLAMIC CHARITIES.\n\n**CRITERIA:** Keep charities that contain these keywords in their name (case insensitive):\n- muslim, islamic, islam, mosque, masjid\n- ummah, quran, qur'an, hadith, sunnah\n- madrasa, zakat, waqf, halal, dawah\n- islamiyah, islamia, jamia, jame\n\n**RETURN FORMAT:** Return the exact same JSON structure as input, but only with Muslim charities. Keep all original fields.\n\n**EXAMPLE:**\nIf input has 15 charities but only 2 are Muslim, return only those 2 with their complete data.\nReturn ONLY the JSON array of Muslim charities. No explanations, no code blocks, just the JSON.\n**DATA TO FILTER:**\n{{ $json.data}}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        752,
        -112
      ],
      "id": "e98e36aa-f249-4c13-8ada-73e3ac1ad619",
      "name": "Message a model",
      "retryOnFail": false,
      "credentials": {
        "googlePalmApi": {
          "id": "rq5D85X71fpS2M14",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        -112
      ],
      "id": "2e623644-f480-4f0a-a031-c6bab13b6df1",
      "name": "Wait",
      "webhookId": "1678334a-fd18-4971-9e3d-e838030af82c"
    },
    {
      "parameters": {
        "jsCode": "// Format the data for Gemini - convert objects to readable text\nconst items = $input.all();\n\nlet formattedText = \"CHARITY DATA TO ANALYZE:\\n\\n\";\n\nitems.forEach((item, index) => {\n  const charity = item.json;\n  formattedText += `CHARITY ${index + 1}:\\n`;\n  formattedText += `Name: ${charity.charity_name}\\n`;\n  formattedText += `Registration Number: ${charity.reg_charity_number}\\n`;\n  formattedText += `Registration Date: ${charity.date_of_registration}\\n`;\n  formattedText += `Status: ${charity.reg_status}\\n`;\n  formattedText += `Organization Number: ${charity.organisation_number}\\n`;\n  formattedText += \"---\\n\\n\";\n});\n\n// Return as simple text that Gemini can read\nreturn [{ json: { data: formattedText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -112
      ],
      "id": "13fd52ad-b146-4761-b38b-0fa885235d4a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.charitycommission.gov.uk/register/api/charitydetails/1211648/0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "RegisteredNumber",
              "value": "={{ $json.reg_charity_number }}"
            },
            {
              "name": "suffix",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        -96
      ],
      "id": "369a0284-60b0-42d4-8ff2-d5814ca17d4d",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fgkOfBK3jvzcxk2X",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Clean Gemini response parser - removes duplicates\nconst geminiResponse = $input.all();\n\nfunction extractDataFromGemini(response) {\n  // Deep search for JSON data\n  function findJSON(obj) {\n    if (typeof obj === 'string') {\n      if (obj.trim().startsWith('[') && obj.trim().endsWith(']')) {\n        return obj;\n      }\n      const jsonMatch = obj.match(/```json\\n([\\s\\S]*?)\\n```/);\n      if (jsonMatch) return jsonMatch[1];\n    }\n    \n    if (typeof obj === 'object' && obj !== null) {\n      for (let key in obj) {\n        const result = findJSON(obj[key]);\n        if (result) return result;\n      }\n    }\n    return null;\n  }\n  \n  let jsonText = findJSON(response);\n  \n  // Fallback to common paths\n  if (!jsonText) {\n    if (response[0]?.candidates?.[0]?.content?.parts?.[0]?.text) {\n      jsonText = response[0].candidates[0].content.parts[0].text;\n    } else if (response[0]?.content?.parts?.[0]?.text) {\n      jsonText = response[0].content.parts[0].text;\n    }\n  }\n  \n  // Clean code blocks\n  if (jsonText) {\n    const cleanMatch = jsonText.match(/```json\\n([\\s\\S]*?)\\n```/);\n    if (cleanMatch) jsonText = cleanMatch[1];\n  }\n  \n  return jsonText;\n}\n\nfunction parseJSONData(jsonText) {\n  if (!jsonText) return [];\n  \n  try {\n    const data = JSON.parse(jsonText);\n    return Array.isArray(data) ? data : [data];\n  } catch (e) {\n    console.log(\"JSON parse failed\");\n    return [];\n  }\n}\n\nfunction cleanAndNormalizeData(charities) {\n  return charities.map(charity => {\n    // Use consistent field names and remove duplicates\n    const cleanCharity = {\n      charity_name: charity.Name || charity.charity_name || charity.name || \"\",\n      reg_charity_number: charity[\"Registration Number\"] || charity.reg_charity_number || charity.reg_number || \"\",\n      organisation_number: charity[\"Organization Number\"] || charity.organisation_number || charity.org_number || \"\",\n      date_of_registration: charity[\"Registration Date\"] || charity.date_of_registration || charity.registration_date || \"\",\n      registration_status: charity.Status || charity.reg_status || charity.status || \"R\",\n      date_processed: new Date().toISOString().split('T')[0]\n    };\n    \n    return {\n      json: cleanCharity\n    };\n  });\n}\n\n// Main execution\ntry {\n  console.log(\"Raw response:\", JSON.stringify(geminiResponse, null, 2));\n  \n  const jsonText = extractDataFromGemini(geminiResponse);\n  console.log(\"Extracted text:\", jsonText);\n  \n  const parsedData = parseJSONData(jsonText);\n  console.log(\"Parsed data:\", parsedData);\n  \n  const cleanData = cleanAndNormalizeData(parsedData);\n  console.log(\"Clean output:\", cleanData);\n  \n  return cleanData;\n  \n} catch (error) {\n  console.log(\"Error:\", error);\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -112
      ],
      "id": "b12c299c-74e6-49bd-ac7c-9bfd8d710e71",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        -112
      ],
      "id": "8278bc90-d1e3-40e8-83c0-3e411ef0317d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1fRU3_148iqObOaZEkHFWZLB1nJqhduugD46epXXVSwM",
          "mode": "list",
          "cachedResultName": "Charity Scout mapper",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fRU3_148iqObOaZEkHFWZLB1nJqhduugD46epXXVSwM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fRU3_148iqObOaZEkHFWZLB1nJqhduugD46epXXVSwM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "charity_name": "={{ $json.charity_name }}",
            "reg_charity_number": "={{ $json.reg_charity_number }}",
            "organisation_number": "={{ $json.organisation_number }}",
            "date_of_registration": "={{ $json.date_of_registration }}",
            "registration_status": "={{ $json.reg_status }}",
            "address_line_one": "={{ $json.address_line_one }}",
            "address_line_two": "={{ $json.address_line_two }}",
            "post_code": "={{ $json.address_post_code }}",
            "phone": "={{ $json.phone }}",
            "email": "={{ $json.email }}",
            "date_processed": "={{ $json.last_modified_time }}",
            "charity_type": "={{ $json.charity_type }}",
            "city": "={{ $json.address_line_two }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "charity_name",
              "displayName": "charity_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reg_charity_number",
              "displayName": "reg_charity_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "organisation_number",
              "displayName": "organisation_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_of_registration",
              "displayName": "date_of_registration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "registration_status",
              "displayName": "registration_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address_line_one",
              "displayName": "address_line_one",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "address_line_two",
              "displayName": "address_line_two",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_code",
              "displayName": "post_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "charity_type",
              "displayName": "charity_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sectors",
              "displayName": "sectors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_processed",
              "displayName": "date_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -96
      ],
      "id": "c3feb6cd-29f1-40cb-9bc6-d77b2b6a5556",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6cA0r5pDl6Rf4oaF",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "organisation_number": 5214708,
          "reg_charity_number": 1211653,
          "group_subsid_suffix": 0,
          "charity_name": "THE WPA FOUNDATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5239345,
          "reg_charity_number": 1211651,
          "group_subsid_suffix": 0,
          "charity_name": "LANCASHIRE CHRISTIAN CENTRES",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5241732,
          "reg_charity_number": 1211655,
          "group_subsid_suffix": 0,
          "charity_name": "HAWKESBURY VILLAGE COMMUNITY ASSOCIATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5247792,
          "reg_charity_number": 1211654,
          "group_subsid_suffix": 0,
          "charity_name": "UNITED KINGDOM PAEDIATRIC GLAUCOMA SOCIETY",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5250265,
          "reg_charity_number": 1211645,
          "group_subsid_suffix": 0,
          "charity_name": "RISK POOL ALLIANCE",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5250966,
          "reg_charity_number": 1211656,
          "group_subsid_suffix": 0,
          "charity_name": "LEIGHTON BUZZARD & DISTRICT MEN'S SHED",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5252013,
          "reg_charity_number": 1211644,
          "group_subsid_suffix": 0,
          "charity_name": "EMBRACE OUTREACH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5252504,
          "reg_charity_number": 1211646,
          "group_subsid_suffix": 0,
          "charity_name": "THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIASTICAL PARISH OF ALL HALLOWS IPSWICH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253484,
          "reg_charity_number": 1211647,
          "group_subsid_suffix": 0,
          "charity_name": "HONLEY LADIES CHOIR",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253813,
          "reg_charity_number": 1211658,
          "group_subsid_suffix": 0,
          "charity_name": "REFLECT",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253853,
          "reg_charity_number": 1211648,
          "group_subsid_suffix": 0,
          "charity_name": "MUKHTARAN RAFIQ FOUNDATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253900,
          "reg_charity_number": 1211657,
          "group_subsid_suffix": 0,
          "charity_name": "KOSHER CARE M/C",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5254034,
          "reg_charity_number": 1211650,
          "group_subsid_suffix": 0,
          "charity_name": "INFLUENCE CITY CHURCH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5255138,
          "reg_charity_number": 1211649,
          "group_subsid_suffix": 0,
          "charity_name": "NATURAL BASINGSTOKE",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5255483,
          "reg_charity_number": 1211659,
          "group_subsid_suffix": 0,
          "charity_name": "LEW GRAY FAMILY TRUST",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      }
    ],
    "Wait": [
      {
        "json": {
          "organisation_number": 5214708,
          "reg_charity_number": 1211653,
          "group_subsid_suffix": 0,
          "charity_name": "THE WPA FOUNDATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5239345,
          "reg_charity_number": 1211651,
          "group_subsid_suffix": 0,
          "charity_name": "LANCASHIRE CHRISTIAN CENTRES",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5241732,
          "reg_charity_number": 1211655,
          "group_subsid_suffix": 0,
          "charity_name": "HAWKESBURY VILLAGE COMMUNITY ASSOCIATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5247792,
          "reg_charity_number": 1211654,
          "group_subsid_suffix": 0,
          "charity_name": "UNITED KINGDOM PAEDIATRIC GLAUCOMA SOCIETY",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5250265,
          "reg_charity_number": 1211645,
          "group_subsid_suffix": 0,
          "charity_name": "RISK POOL ALLIANCE",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5250966,
          "reg_charity_number": 1211656,
          "group_subsid_suffix": 0,
          "charity_name": "LEIGHTON BUZZARD & DISTRICT MEN'S SHED",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5252013,
          "reg_charity_number": 1211644,
          "group_subsid_suffix": 0,
          "charity_name": "EMBRACE OUTREACH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5252504,
          "reg_charity_number": 1211646,
          "group_subsid_suffix": 0,
          "charity_name": "THE PAROCHIAL CHURCH COUNCIL OF THE ECCLESIASTICAL PARISH OF ALL HALLOWS IPSWICH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253484,
          "reg_charity_number": 1211647,
          "group_subsid_suffix": 0,
          "charity_name": "HONLEY LADIES CHOIR",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253813,
          "reg_charity_number": 1211658,
          "group_subsid_suffix": 0,
          "charity_name": "REFLECT",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253853,
          "reg_charity_number": 1211648,
          "group_subsid_suffix": 0,
          "charity_name": "MUKHTARAN RAFIQ FOUNDATION",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5253900,
          "reg_charity_number": 1211657,
          "group_subsid_suffix": 0,
          "charity_name": "KOSHER CARE M/C",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5254034,
          "reg_charity_number": 1211650,
          "group_subsid_suffix": 0,
          "charity_name": "INFLUENCE CITY CHURCH",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5255138,
          "reg_charity_number": 1211649,
          "group_subsid_suffix": 0,
          "charity_name": "NATURAL BASINGSTOKE",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      },
      {
        "json": {
          "organisation_number": 5255483,
          "reg_charity_number": 1211659,
          "group_subsid_suffix": 0,
          "charity_name": "LEW GRAY FAMILY TRUST",
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null
        }
      }
    ],
    "Code in JavaScript1": [
      {
        "json": {
          "charity_name": "MUKHTARAN RAFIQ FOUNDATION",
          "reg_charity_number": "1211648",
          "organisation_number": "5253853",
          "date_of_registration": "2025-01-10T00:00:00",
          "registration_status": "R",
          "date_processed": "2025-11-02"
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "organisation_number": 5253853,
          "reg_charity_number": 1211648,
          "group_subsid_suffix": 0,
          "charity_name": "MUKHTARAN RAFIQ FOUNDATION",
          "charity_type": "CIO",
          "insolvent": false,
          "in_administration": false,
          "prev_excepted_ind": false,
          "cif_cdf_ind": null,
          "cio_dissolution_ind": false,
          "interim_manager_ind": false,
          "date_of_interim_manager_appt": null,
          "reg_status": "R",
          "date_of_registration": "2025-01-10T00:00:00",
          "date_of_removal": null,
          "latest_acc_fin_year_start_date": null,
          "latest_acc_fin_year_end_date": null,
          "latest_income": null,
          "latest_expenditure": null,
          "address_line_one": "56 NEWTON CLOSE",
          "address_line_two": "SLOUGH",
          "address_line_three": null,
          "address_line_four": null,
          "address_line_five": null,
          "address_post_code": "SL3 8DD",
          "phone": "07756994262",
          "email": "windoorsint@icloud.com",
          "web": null,
          "charity_co_reg_number": null,
          "reporting_status": "New",
          "removal_reason": null,
          "cio_ind": true,
          "last_modified_time": "2025-01-16T21:35:42.353"
        }
      }
    ],
    "Message a model": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "[\n  {\n    \"Name\": \"MUKHTARAN RAFIQ FOUNDATION\",\n    \"Registration Number\": \"1211648\",\n    \"Registration Date\": \"2025-01-10T00:00:00\",\n    \"Status\": \"R\",\n    \"Organization Number\": \"5253853\"\n  }\n]"
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 1261,
            "candidatesTokenCount": 91,
            "totalTokenCount": 1352,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 1261
              }
            ]
          },
          "modelVersion": "gemini-2.5-flash-lite",
          "responseId": "pgQHabTONbPAxN8P4KeS4Ac"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d15590d3-cc20-48ba-9d61-bbbe0eb4b80e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37ca9ab3e8012d5592ee31dd67e256cefcdbf70fe17ef6ee7f23fd136e960d4a"
  },
  "id": "3lMxT9i3k1dlc5nR",
  "tags": []
}